<menubar></menubar>
<div *ngIf="it" id="detalle-salida" class="container"> 
  <div id="cabecera" class="text-center">
      <h2>{{it.titulo}}</h2>
      <small>({{it.subtitulo}})</small>
  </div>

  <template [ngIf]="it.tipo == 'complete'">
    <div id="contenido">
      <div *ngFor="let texto of it.textos" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="borde-bajo">{{texto.titulo}}</h4>
        <p>{{texto.parrafo}}</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="text-center">
            <div class="wrap">
              <div class="box box1 shadow1">
                <h4> ${{item.precio}} </h4>
              </div>
            </div>  
          </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="imagenes" style="max-width: 800">
          <div id="myCarousel" class="carousel slide marco" data-ride="carousel" style="max-width: 800px; margin:0 auto;" >
          <div class="carousel-inner" role="listbox">
            <div *ngFor="let imagenes of it.imagenes; let i = index" [class.active]="i == 0" class="item">
              <img src="{{imagenes.url}}" alt="slide{{i}}">
              <div class="carousel-caption">
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          </div>
        </div>
      </div>
  </div>
  </template>
  <template [ngIf]="it.tipo == 'slider'">
      <br>
      <div id="myCarousel" class="carousel slide marco" data-ride="carousel" >
          <div class="carousel-inner" role="listbox">
            <div *ngFor="let imagenes of it.imagenes; let i = index" [class.active]="i == 0" class="item">
              <img src="{{imagenes.url}}" alt="slide{{i}}">
              <div class="carousel-caption">
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          </div>
    </template>
  <template [ngIf]="it.tipo == 'flyer'">
    <div class="container">
      <br>
      <img width="100%" src="{{it.image}}" alt="promo1">
    </div>
  </template>
</div>
<br>
<br>
<br>

<router-outlet></router-outlet>

