<footer>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-lg-12">
      <h6>Páginas</h6>
      <ul id="page">
        <a href="#service"><li>Servicios</li></a>
        <a href="#aereos"><li>Aereos</li></a>
        <a href="#paquetes"><li>Paquetes</li></a>
        <a [routerLink]="['/institucional']"><li>Institucional</li></a>
        <a [routerLink]="['/financiacion']"><li>Financiación</li></a>
        <li></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 col-lg-12">
      <h6><strong>Contacto</strong></h6>
      <ul>
        <li><span class="glyphicon glyphicon-home"></span>Av.Tehuelches 121 - Comodoro Rivadavia</li>
        <li><a href="tel: 2974064825"><span class="glyphicon glyphicon-phone"></span>(0297) 4064825</a></li>
        <li><a href="mailto:turismo@mutualdepetroleros?Subject=Consulta%20web"><span class="glyphicon glyphicon-envelope"></span>turismo@mutualdepetroleros.com </a></li>
        <li><a href="http://www.facebook.com/turismomutualdepetroleros" target="_blank"><span class="	fa fa-facebook-square"></span> turismomutualdepetroleros</a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 col-lg-12">
      <h6><strong>Sitios Relacionados</strong></h6>
      <ul>
        <li><a href="http://www.mutualdepetroleros.com.ar" ><span class="fa fa-chrome"></span>http://www.mutualdepetroleros.com.ar</a></li>
        <li><a href="http://www.petrolerosjerarquicos.org/"><span class="fa fa-chrome"></span>http://www.petrolerosjerarquicos.org/</a></li>
      </ul>
    </div>
  </div>
</div>  
</footer>


