<footer>
<div class="container">
  <div class="row">
      <div *ngFor="let tipoFooter of arrayTipoFooter" class="col-lg-4 col-md-4">
          <h6><strong>{{tipoFooter}}</strong></h6>
          <ul>
            <div *ngFor="let item of itemsFooter" >
              <template [ngIf]="tipoFooter == 'Páginas' && item.tipo == tipoFooter">
                <a href="{{item.referencia}}"><li class="toper">{{item.texto}}</li></a>
              </template>
              <template [ngIf]="tipoFooter == 'Contacto' && item.tipo == tipoFooter">
                <a href="{{item.referencia}}" target="_blank"><li><span [ngClass]="item.icono"></span>{{item.texto}}</li></a>
              </template>
              <template [ngIf]="tipoFooter == 'Sitios Relacionados' && item.tipo == tipoFooter">
                <a href="{{item.referencia}}" target="_blank"><li><span [ngClass]="item.icono"></span>{{item.texto}}</li></a>
              </template>
            </div>
          </ul>
          <template [ngIf]="tipoFooter == 'Sitios Relacionados'">
               <div class="text-center">
                 <img style="margin-right: 4px;" src="http://mutualdepetroleros.tur.ar/assets/imagenes/datafiscal.jpg" alt="">
               <a href="http://servicios.turismo.gob.ar/agencias/constancia/15750" target="_blank"><img style="margin-left: 4px" src="http://mutualdepetroleros.tur.ar/assets/imagenes/dataturismo.jpg" alt=""></a>
               </div>
          </template>
      </div>
  </div>
</div>  
</footer>


