<footer>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-lg-12">
      <h6>Páginas</h6>
      <ul id="page">
        <a href="#service"><li>Servicios</li></a>
        <a href="#aereos"><li>Aereos</li></a>
        <a href="#paquetes"><li>Paquetes</li></a>
        <a [routerLink]="['/institucional']"><li>Institucional</li></a>
        <a [routerLink]="['/financiacion']"><li>Financiación</li></a>
        <li></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 col-lg-12">
      <h6><strong>Contacto</strong></h6>
      <ul>
        <a href="https://goo.gl/maps/vhsiz9F3h1p" target="_blank"><li><span class="glyphicon glyphicon-home"></span>Av.Tehuelches 121 - Comodoro Rivadavia</li></a>
        <a href="tel: 2974064825"><li><span class="glyphicon glyphicon-phone"></span>(0297) 4064825</li></a>
        <a href="mailto:turismo@mutualdepetroleros?Subject=Consulta%20web"><li><span class="glyphicon glyphicon-envelope"></span>turismo@mutualdepetroleros.com </li></a>
        <a href="http://www.facebook.com/turismomutualdepetroleros" target="_blank"><li><span class="	fa fa-facebook-square"></span> turismomutualdepetroleros</li></a>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 col-lg-12">
      <h6><strong>Sitios Relacionados</strong></h6>
      <ul>
        <a href="http://www.mutualdepetroleros.com.ar" target="_blank"><li><span class="fa fa-chrome"></span>http://www.mutualdepetroleros.com.ar</li></a>
        <a href="http://www.petrolerosjerarquicos.org/" target="_blank"><li><span class="fa fa-chrome"></span>http://www.petrolerosjerarquicos.org/</li></a>
      </ul>
    </div>
  </div>
</div>  
</footer>


