#navbar{
    padding: 0px 10px 0px 10px;
    margin-bottom: 0px;
}

#menu{
    background: #2196f3;
}

.navbar{
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 0px rgba(0,0,0,0.3);
}


.navbar-nav li:hover{
    background-color: #007ACC;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

li a:hover{
    font-size: 16px;
}

