<menubar></menubar>
<div id="Institucional" class="container">
<div class="row">
  <div class="hidden-xs hidden-sm col-md-1 col-lg-1"></div>
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <br><br><br>
        <h2 class="text-center">Institucional</h2>
        <br><br>
        <p><strong class="font-black">El Departamento de Turismo de la Mutual de Petroleros es parte de un proceso activo con ejes concretos de avance. En mayo de 2014 se logró la habilitación de la Agencia sin fines de lucro, que define un formato respaldado por el Ministerio de Turismo de la Nación a través de la Disposición 300/14 y el Legajo 15.750.</strong></p>
        <p>Nuestra Comisión Directiva encargó el armado y seguimiento de un Plan de Acción con objetivos concretos para tener clara la dirección de crecimiento de su Agencia y del área, del cual destacamos los siguientes puntos:</p>
        <br>
        <strong class="text-primary">Incorporación de nuevos recursos humanos y técnicos</strong>
        <p>Se incorporaron dos Licenciados en Turismo como parte activa en la atención del asociado, sus familias, y la planificación de la estrategia de desarrollo del sector. Se incorporó también uno de los sistemas informáticos de reservas más utilizados y potentes de la actualidad, dando la posibilidad de reservar servicios en cualquier parte del Mundo.</p>
        <br>
        <strong class="text-primary">Acuerdos estratégicos</strong>
        <p>La firma de un Acuerdo de Colaboración con Aerolíneas Argentinas, nuestra línea aérea de bandera, ha sido cumplimentada ante la solicitud del Sr. José Llugdar. Luego de las gestiones pertinentes, avanzamos en su firma y obtuvimos beneficios concretos, que ya están al alcance de todos los socios y sus familias.</p>
        <p>Cabe también mencionar que comenzamos a trabajar en la alianza estratégica con operadores nacionales e internacionales y potenciamos mucho el foco en los convenios de beneficios para asociados en distintas provincias del país.</p>
        <strong class="text-primary">Comunicando nuestras novedades</strong>
        <p>También vimos la importancia de comunicarnos, siempre con una propuesta diferente. Es así que junto a la Comisión Directiva, tomamos la decisión de difundir todas las semanas una promoción atractiva y diferente para los socios. Esta iniciativa se instrumentó con muy buenos resultados, porque nuestros socios perciben una Agencia activa y cercana para canalizar cualquier tipo de consulta sobre los servicios.</p>
        <strong class="text-primary">Fuerte espíritu mutual en toda la Patagonia</strong>
        <p>Entendimos que primero debíamos ser fuertes y consolidarnos en nuestra sede social en Comodoro Rivadavia y desde allí planificar la capacitación de los recursos humanos necesarios y la atención a socios en todas y cada una de nuestras sedes.</p>
        <p>En cada lugar de la Patagonia donde la Mutual esté presente, también estará Turismo, incorporando su servicio como un derecho. Tenemos las herramientas para afrontar este plan de expansión, que forma parte del propio Plan de Desarrollo.</p>
        <p><strong class="font-black">Queremos que cada asociado obtenga una respuesta más allá de donde se encuentre y que la Sede Social sea un lugar donde podamos facilitar las soluciones a las inquietudes que se vayan presentando.</strong></p>

  </div>
  <div class="hidden-xs hidden-sm col-md-1 col-lg-1"></div>
</div>
</div>
  <br><br>
<div id="footer">
  <app-footer></app-footer>
</div>