<div id="paquetes" class="container-fluid">
   <div class="container">
       <h2 class="text-center text-primary"><span> &nbsp;Paquetes Turisticos &nbsp;</span></h2>
        <br>
        <div class="row">
            <div *ngFor="let paquete of paquetes; let i = index;" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="container-image container-image-{{i}}">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-1"></div>
                        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-10">
                            <figure>
                                <img width="100%" src="{{paquete.imageURL}}" alt="{{paquete.title}}">
                                <figcaption><p class="text-center">{{paquete.title}} </p></figcaption>
                            </figure>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center container-btn-ver-mas">
            <a href="{{refCotizador}}" target="_blank" class="btn btn-primary btn-ver-mas">Ver más paquetes</a>
        </div>
   </div>
</div>