<menubar></menubar>

<div class="container">
<div class="row">
  <div class="hidden-xs hidden-sm col-md-1 col-lg-1"></div>
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <br><br><br>
        <h2 class="text-center">Financiación</h2>
        <br>
        <p><strong class="font-black"> Sr Asociado usted ahora tiene la oportunidad de comprar   en nuestra página  web buscando los mejores programas para su viaje y  calcular  su vuelo.  El único requisito es contar con tarjeta de crédito y seguir los pasos que  solicita  el sistema. </strong></p>
        <p>En caso que no cuente con tarjeta de crédito  puede  realizar su pago  mediante  nuestras oficinas contactándonos a  <strong><a href="mailto:turismo@mutualdepetroleros.com">turismo@mutualdepetroleros.com</a></strong>. Allí debe indicar que servicio solicitó por la web para  proseguir con la compra. </p>
        <p>La página mostrara una variada oferta de servicios   pero siempre  contacte  a un profesional de la Mutual para sacarse sus dudas sobre políticas de cancelación, documentos de viajes, autorización  de menores y  todo lo necesario para  emprender su viaje sin problemas.</p>
        <br>
         <br>
        <h4 class="text-center">Medios de pago</h4>
        <img src="http://mutualdepetroleros.tur.ar/assets/imagenes/banner.png" alt="mediopago">
        <div class="text-center"><small>(*) Los medios de pagos y la financiación quedan sujetos a la politica de cada operador o compañía aérea</small>
        </div>
        <br>
        <br>
        <br>
        <div>
          <h4 class="text-center">Datos Bancarios</h4>
          <br>
          <div class="row">
            <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                <table class="text-center">
                <tr>
                  <td class="td-black">CUIT</td>
                  <td>30-71109629-6</td> 
                </tr>
                <tr>
                  <td class="td-black">IVA</td>
                  <td>Exento</td> 
                </tr>
                <tr>
                  <td class="td-black">Tipo Cuenta</td>
                  <td>Cuenta Corriente en Pesos($)</td> 
                </tr>
                <tr>
                  <td class="td-black">Banco</td>
                  <td>Banco de la Nación Argentina</td> 
                </tr>
                <tr>
                  <td class="td-black">N° Cuenta</td>
                  <td>2080066173</td> 
                </tr>
                <tr>
                  <td class="td-black">Sucursal</td>
                  <td>1530 (Comodoro Rivadavia)</td> 
                </tr>
                <tr>
                  <td class="td-black">CBU</td>
                  <td>01102088/20020800661735</td> 
                </tr>
                <tr>
                  <td class="td-black">PDF</td>
                  <td><a href="http://mutualdepetroleros.tur.ar/assets/imagenes/datosbancarios.pdf" target="_blank"><img src="http://mutualdepetroleros.tur.ar/assets/imagenes/pdf.png" alt="descargarpdf"></a></td> 
                </tr>
              </table>
            </div>
            <div class="hidden-xs hidden-sm  col-md-1 col-lg-2"></div>
          </div>
          <br>
        <br>
        <br>
        </div>
  </div>
  <div class="hidden-xs hidden-sm col-md-1 col-lg-1"></div>
</div>
 </div>

<div id="footer">
  <app-footer></app-footer>
</div>