<menubar></menubar>

<div class="container">
<div class="row">
  <div class="hidden-xs hidden-sm col-md-1 col-lg-1"></div>
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <br><br><br>
        <h2 class="text-center">Financiación</h2>
        <br>
        <p><strong class="font-black"> Sr Asociado usted ahora tiene la oportunidad de comprar   en nuestra página  web buscando los mejores programas para su viaje y  calcular  su vuelo.  El único requisito es contar con tarjeta de crédito y seguir los pasos que  solicita  el sistema. </strong></p>
        <p>En caso que no cuente con tarjeta de crédito  puede  realizar su pago  mediante  nuestras oficinas contactándonos a  turismo@mutualdepetroleros. Allí debe indicar que servicio solicitó por la web para  proseguir con la compra. </p>
        <p>La página mostrara una variada oferta de servicios   pero siempre  contacte  a un profesional de la Mutual para sacarse sus dudas sobre políticas de cancelación, documentos de viajes, autorización  de menores y  todo lo necesario para  emprender su viaje sin problemas.</p>
        <br>
  </div>
  <div class="hidden-xs hidden-sm col-md-1 col-lg-1"></div>
</div>
 </div>

<div id="footer">
  <app-footer></app-footer>
</div>