<div class="container">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
            <div class="form-horizontal">
            <fieldset>
              <legend class="text-center">Datos de acceso</legend>
              <div class="form-group">
                <label for="inputEmail" class="col-lg-3 control-label">DNI</label>
                <div class="col-lg-9">
                  <input type="number" class="form-control" id="inputEmail" placeholder="Número de DNI sin puntos" [(ngModel)]='dni' required>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-lg-3 control-label">Número de Socio</label>
                <div class="col-lg-9">
                  <input type="number" class="form-control" id="inputEmail" placeholder="Número de SOCIO" [(ngModel)]='numeroSocio' required>
                </div>
              </div>
              <div class="form-group text-center">
                  <a class="btn btn-default">Volver</a>
                  <a class="btn btn-primary" (click)="clicked()">Acceder</a>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
    </div>
</div>

<router-outlet></router-outlet>