.thumbnail-image{
 width: 100%; display: block;
max-height: 200px;
max-width: 200px;  
}

.thumbnail {
    border: none;
}

#service .caption p{
    line-height: 1.3;
    text-align: center;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}