<section id="section-1">
    <div id="aereos" class="container-fluid text-center parallax" style=" background-image: url('http://mutualjerarquico.ddns.net/res/img/turismo/avion2.jpg')">
    <div>
      <h2>Calcule su vuelo</h2>
      <br>
      <br><br>
       <div style="margin: 0 auto">
           <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
           <div id="caja-vuelo" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
               <div class="row">
                   <div id="caja-info" class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                       <div class="h4"><strong>Bla bla Titulo</strong></div>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Deleniti eos neque officiis reiciendis quibusdam enim,
                             qui illo placeat cum sint iusto doloribus est suscipit 
                             impedit culpa numquam soluta tenetur recusandae.</p>
                   </div>
                   <div id="caja-cotizador" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                       <h4>¡Calcula tu vuelo!</h4>
                       <br>
                       <div class="text-center">
                           <a href="/vuelos" target="_blank" class="btn btn-success">IR AL COTIZADOR</a>
                       </div>
                   </div>
               </div>
           </div>
           
           <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
           <br><br><br><br><br>
       </div>
       </div>
</div>
</section>
